@import url(http://fonts.googleapis.com/css?family=Varela);
#left {
  width: 459px;
  height: 287px;
  float: left;
  background: #ccc; }

#right {
  width: 482px;
  height: 287px;
  float: left;
  background: #888; }

#bottom {
  width: 941px;
  height: 300px;
  background: #555; }

.clear {
  clear: both; }

.bottompics {
  float: left; }

body {
  font-family: "Varela", sans-serif; }

#container {
  width: 941px;
  height: 800px;
  margin: auto; }
