@import url(http://fonts.googleapis.com/css?family=Varela);
#left {
  width: 459px;
  height: 319px;
  padding-bottom: 10px;
  float: left; }
  #left h3 {
    font-size: 14px; }
    #left h3 span {
      font-size: 12px;
      color: #95d1d9; }

#right {
  width: 482px;
  height: 287px;
  float: left;
  background: #e4e6e5; }

#bottom {
  width: 941px;
  height: 216px;
  padding-top: 40px; }

.clear {
  clear: both; }

.bottompics {
  float: left;
  line-height: 12px; }

.bottompics:nth-child(1) {
  margin-right: 23px; }

.bottompics:nth-child(2) {
  margin-right: 23px; }

.bottompics:nth-child(3) {
  margin-right: 23px; }

h3 {
  font-size: 14px; }

h6 {
  color: #95d1d9;
  font-size: 12px; }

#circles {
  width: 85px;
  height: 287px;
  list-style: none;
  float: left;
  margin-top: 0px;
  padding-left: 10px; }

#tablebox {
  width: auto;
  height: 287px;
  float: left;
  margin-top: 0px; }
  #tablebox > ul {
    padding-left: 10px; }
  #tablebox ul li.tbltitle {
    border: 0 none;
    font-size: 0.9em;
    line-height: normal;
    text-transform: uppercase; }
  #tablebox ul li {
    height: 30px;
    overflow: hidden;
    list-style: none; }
  #tablebox ul li div {
    float: left;
    overflow: hidden; }
  #tablebox ul li .name {
    width: 100px;
    margin-right: 5px; }
  #tablebox ul li .name a {
    color: #444444;
    text-decoration: none; }
  #tablebox ul li .website {
    width: 125px;
    margin-right: 5px; }
  #tablebox ul li .website a {
    text-decoration: none;
    transition: color .25s ease-out 0s;
    font-style: italic;
    color: #409f89; }
  #tablebox ul li .website a:hover {
    color: #000000; }
  #tablebox ul li .country {
    width: 55px;
    margin-right: 5px; }
  #tablebox ul li .notes {
    width: 30px; }
  #tablebox ul li .note {
    width: 8%; }
  #tablebox .list-notes span {
    border-radius: 50% 50% 50% 50%;
    color: white;
    display: inline-block;
    font-size: .8em;
    height: 16px;
    line-height: 17px;
    text-align: center;
    width: 16px; }
  #tablebox .list-notes span.design {
    background: #df6c4f; }
  #tablebox .list-notes span.creativity {
    background: #ecd06f; }
  #tablebox .list-notes span.usability {
    background: #409f89; }
  #tablebox .list-notes span.content {
    background: #1a99aa; }

body {
  font-family: "Varela", sans-serif;
  font-size: 12px;
  color: #444458;
  background: #e4e6e5; }

#container {
  width: 941px;
  height: 800px;
  margin: auto; }
