#left
{
  width: 459px;
  height: 319px;
  padding-bottom: 10px;
  float: left;
  h3 {
    font-size: $normal_font_size + 2px;
    span {
      font-size: $normal_font_size;
      color: $secondary_color;
    }
  }

}

#right
{
  width: 482px;
  height: 287px;
  float: left;
  background: #888;
}

#bottom
{
  width: 941px;
  height: 216px;
  padding-top: 40px;
}

.clear{
  clear: both;
}

.bottompics {
  float: left;
  line-height: 12px;
}

.bottompics:nth-child(1) {
  margin-right: 23px;
}

.bottompics:nth-child(2) {
  margin-right: 23px;
}

.bottompics:nth-child(3) {
  margin-right: 23px;
}

h3 {
  font-size: $normal_font_size + 2px;
}
h6 {
  color: $secondary_color;
  font-size: $normal_font_size;
}