#circles
{
width: 85px;
height: 287px;
list-style: none;
float:left;
margin-top: 0px;
padding-left:10px;
}

#tablebox
{
width: auto;
height: 287px;
float:left;
margin-top: 0px;

  > ul{
    padding-left:10px;
  }

  ul li.tbltitle
  {
   border: 0 none;
   font-size: 0.9em;
   line-height:normal;
   text-transform: uppercase;
  }

  ul li
  {
   height: 30px;
   overflow: hidden;
   list-style: none;
  }

  ul li div
  {
   float:left;
   overflow:hidden;
  }

  ul li .name
  {
    width: 100px;
    margin-right:5px;
  }

  ul li .name a
  {
      color:$namelinks_color;
      text-decoration: none;
  }

  ul li .website
  {
    width: 125px;
    margin-right:5px;
  }

  ul li .website a
    {
     text-decoration: none;
     transition: color .25s ease-out 0s;
     font-style: italic;
     color:$websitelinks_color;
    }

  ul li .website a:hover
      {
       color: #000000;
      }

  ul li .country
  {
    width: 55px;
    margin-right:5px;
  }

  ul li .notes
  {
    width: 30px;

  }

 ul li .note
  {
    width: 8%
  }

 .list-notes span
 {
  border-radius: 50% 50% 50% 50%;
  color:$span_colors;
  display:inline-block;
  font-size:.8em;
  height:16px;
  line-height:17px;
  text-align:center;
  width:16px;

 }

.list-notes span.design
  {
    background:$designcirc;
  }

 .list-notes span.creativity
  {
    background:$creativitycir;
  }

 .list-notes span.usability
  {
    background:$usabilitycir;
  }

 .list-notes span.content
  {
    background:$contentcir;
  }

}



