@import 'fonts';
@import 'color';
@import 'header';
@import 'nav';
@import 'body';
@import 'table';

body {
  font-family: $brand_font;
  font-size: $normal_font_size;
  color: $main_color;
  background: #E4E6E5;
}
#container{
  width: 941px;
  height: 800px;
  margin: auto;
}


